/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-italic - latin */
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Serif Italic"), local("NotoSerif-Italic"),
    url("../fonts/noto-serif-v6-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-serif-v6-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url("../fonts/roboto-slab-v7-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 940px;
}

/* HEADER */

.main-header {
  padding: 44px 0;
  margin-bottom: 75px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu-list-item a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #222222;
}

.main-menu-list-item a:hover,
.main-menu-list-item a:focus {
  color: #fed136;
}

.main-menu-list-item:not(:last-child) {
  margin-right: 40px;
}

/* SERVICES SECTION */

.services-section {
  margin-bottom: 120px;
}

.services-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: rgb(34, 34, 34);
}

.services-title-description {
  margin: 0;
  margin-bottom: 80px;
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 16px;
  text-align: center;
  color: rgb(119, 119, 119);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list-item {
  width: 290px;
  text-align: center;
}

.services-list-item::before {
  display: block;
  margin-bottom: 25px;
}

.services-list-item:nth-child(1)::before {
  content: url("https://lh3.googleusercontent.com/4UdtNBOfmXGa-1hK_W-At7Fwwq7gzpAd4efAthrOD9qixJjTGuFxZpVfpYadZuRpJZsOU8D20KggXfzXf3yqdJI9vIbKM2bpE3Vqkp2ZfteHjKh1WLPX1WIOwEuuoPiVyG5BCFGcYaojRreJy-E0PA-HSUZyMziCznjt2cjZGgNTyJFtlePmgIkt0ZIs0Ax1e7cc79soodjuCEH8D5pbVB4SnS0a_hYtJthO8FTZ3n7TNoem4y48TtnTKzlDZlHayU8XXSor1WrQpfaiQaH53LcrxwE7lCZWvuAN5I57cR0-9G6JXHkU4PevFDJAPfznmN_JaXyKFubU3d-CdNlmTfRNfOsx4rkrBG-Y6SqAkWUi0_Fhwmh-wzx2dGMucFNhA3bkOOOYKprywANMyDcKq_3LES6B0xU3bpyjXI7mfIsPZba1Trta8QVIm3YC488ohe3rk3yDzznZWpEvlZ0GdGUxKnqohEA9dckVyZLQsTKF_zQhCRgHC0hFUuU7pO00JgjW3YV4TD87WWLSljJBeWs15QR8E3LB5L3Ip_6_p1ZxqlBa0Gp2vrYYGwfEq3k0_E3xfSnDEmjywtj-AiL8plvOJX8Enq31pjYB-Xs=w74-h73-no");
}

.services-list-item:nth-child(2)::before {
  content: url("https://lh3.googleusercontent.com/t6h3Pcy-CPOXI7epA7CNHzrV4s52Sb0eES3zw9pL7fTp_loUvjnxIJcjlnUrgrRYfpRsJykzWoL9bY6T7u1__x1VV-NcBLmLSqvLeuXB50BC8LdOV4c1Wmay7YKP_exGr3B85AZsDXRJ445f9bIf6jyqkmICGYNuxJHRBLjjYr5j3MvdU9E0pYqugS_dWa_vUqbJeSpnvXexn2Xzkz470s7MgwAn7GR4pgkhHZcNHMh6gS22W2Lxf0e8pROXCiBKMJgiYRqZQQiWlCnYQlFoSdOxfuf6BMdlrJPdHvzJYPSjX5iDO89szOS6xNJHdSkSdnn9vSf5T81fY4P1Dxxgbp9tbpLFW3Ycqep4PWj9eosc8D4QT2SW5KUL-xzr52ZZcbDhBo3iEkw6IMD6DsxEzfN3KEKlMphf8tzBClYRM9aUCIw2p3PVn-7YCFr0Bwj246_W1AQXhaIcqn_QsbhGIc9mhvI8k8qQ2S9V7SJzCWH-Ou64hjt42QiZCrLWOYqt4RsKFlrB5MgSQrPUUQhQMUmTEXorZg1qbTzZa8l_4sGggieX9bcFqY06bD4d8g05iEjxg1nUUMVfihlMtMC_ytSWjvuutMJknR0w3f0=w74-h73-no");
}

.services-list-item:nth-child(3)::before {
  content: url("https://lh3.googleusercontent.com/nimXJwfxBnFiWvyv5oi6TjBons0VQEZSxQCd78k8ecexnD1wcSdRsJ9tzGlVJyCp7cX1KjiIvmYs7Wk1wib0GI0HDQmsL3bVYHxeF6QDcCeD7o0eVqTX7T4p_KFySeuFp1qhmWz5XuYFvpoXF2J8gA-gct1ZZk-nOdcQ8LOih9R6WqeMk2JwMnG3y6Hemls0hjscWeFTzxinjVuIuKU4P-S53d8DY1zuWc4Y8wqW8ipY4fqFN8gRNf2CLbHxW1LytAehrKr0ir6JjExkjiB-OJUPC01D-pQJk8JMDW9KDexuWYPk7qSnqj-P6LJ58Eg2C_Ef4eLj8vzjg5uEkr_KAbHh4IrLQPUIk7DE8l6VjluVs8RWeLEPG0G-tW99_cf-XxzWfA_VMylG04CYPNuOBXXc2miL5sSl2Zo6CCFgvrPUezONpjxBcEUdgsJYUGZAV0S11mTdPBF9khbDg6EBbbOKj1dbCk_PWxEe6FoqG5lZVOtqaetyI3pOn1fkEOPZjwebgfR3hZsumUHusEBMpqenr01maa3mtZVP72v3Tx-4xGY24b05e_N5xSnsow5TZxj9uoRUyu8vtDbgiCLMKjKLPytkOPhW9z5XD9U=w74-h73-no");
}

.services-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 35px;
}

.services-list-item-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(34, 34, 34);
}

.services-list-item-description {
  margin: 0;
  font-size: 14px;
  font-family: "RobotoSlab";
  color: rgb(119, 119, 119);
}

/* CONTACT SECTION */

.contact-section-background {
  height: 676px;
  background-image: url("https://lh3.googleusercontent.com/5YWX4zwXmmt6BHiyXvS2GfoeExDGymast9q_f1ab2-ms0ZTdDmQRwAiPh7bLQXXRYNv7EV855x7Srdy0iQPvTLqXJNT_emtCAbKmXjQ0ISCJFIS11JMibM6IbJQZXprGVMTAVC7DUaGsH0EZiz6V0FjlVhdRLpjy1Pf2jx4iEDiwa20Fx82XaEBCHDzcu735OyrFcfthIvj6hIQ-TP79DL2hNbSL5aSi19OBTpivxylE3QGHr0RdB5pjtLMKm3brv_huc57AgFpk4x0yJJ5z-OSA2WGi0ZSEyAFB7FTiV13AwK5C_KTdnjI-EKoxzSywY0db3kqVtlwEHqPGnsUF7e9ng2sjMzwE5uQB3XOHgR9M7aCkdJoOKTzn1yQHE2Y-2Rzx7iCrNysq2jnwGFFbUJQXAXfOpxw9JFhW57lIR_oLKh4_Trt2m6vEvd1inqhl03p4Dlxd1ueGNakXc5I5zMoJFWIxi9hLLGwZRflRFdkcxrVDD1HoFpFHFQfEFiOJWzNarPCt95CjkERPPTGFjsivoxQrndaC3KSaFEfTm22XRVjiRuWGDybZ9NhzbcwaUlQEH2gnx3YN7zz0tR5_xPp6ErNhORIv4zP-xkg=w1400-h676-no");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-section {
  position: relative;
}

.contact-title {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.contact-title-description {
  position: absolute;
  left: 50%;
  top: 215px;
  transform: translateX(-50%);
  margin: 0;
  font-family: "Noto Serif";
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color: rgb(119, 119, 119);
}

.contact-form {
  position: relative;
  height: 210px;
}

.inputs-textarea-wrapper {
  position: absolute;
  top: 305px;
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 210px;
}

.contact-form-input-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-form-input-list-item input {
  box-sizing: border-box;
  width: 455px;
  height: 50px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: rgb(187, 187, 187);
}

.contact-form-input-list-item .name-input,
.contact-form-input-list-item .pass-input {
  border-bottom: 5px solid red;
}

.contact-form-input-list-item input[type="text"]:valid,
.contact-form-input-list-item input[type="password"]:valid {
  border-color: green;
}

.contact-form textarea {
  box-sizing: border-box;
  width: 455px;
  resize: none;
  padding: 15px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(187, 187, 187);
  border: none;
  border-radius: 3px;
}

.button-wrapper {
  position: absolute;
  top: 545px;
  display: flex;
  justify-content: center;
  width: 940px;
}

.contact-form-button {
  padding: 0;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fed136;
}

.contact-form-button:hover {
  cursor: pointer;
}
